<h2>Product Information</h2>

<!-- <div *ngIf="isLoading">
    Loading data...
</div> -->

<div class="comment-list">
    <h2>Comments</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            @for( product of products; track product.id ){
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.title }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<ul>

</ul>