<div class="container">
    <h2 class="heading">Template Driven Form</h2>
    <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userDetails.email" required
                email>
            <div *ngIf="userForm.controls['email']?.touched && userForm.controls['email']?.invalid" class="text-danger">
                Please enter a valid email address.
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" [(ngModel)]="userDetails.password"
                required>
            <div *ngIf="userForm.controls['password']?.touched && userForm.controls['password']?.invalid"
                class="text-danger">
                password is required.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <button (click)="navigateToSignup()">Sign Up</button>

</div>